rgb_to_neopixel/flows.json
[{"id":"4ff0ed83.24ea84","type":"tab","label":"Arduino","disabled":false,"info":""},{"id":"33761519.018b5a","type":"mqtt in","z":"4ff0ed83.24ea84","name":"","topic":"#","qos":"0","datatype":"auto","broker":"2909a769.f5c5b8","x":530,"y":220,"wires":[["2ba64a64.8843f6"]]},{"id":"2ba64a64.8843f6","type":"debug","z":"4ff0ed83.24ea84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"d4eee998.a88618","type":"inject","z":"4ff0ed83.24ea84","name":"red","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"red","payloadType":"str","x":490,"y":400,"wires":[["d0b05460.206008"]]},{"id":"d0b05460.206008","type":"mqtt out","z":"4ff0ed83.24ea84","name":"","topic":"","qos":"","retain":"","broker":"2909a769.f5c5b8","x":710,"y":540,"wires":[]},{"id":"6a0570dd.4d989","type":"inject","z":"4ff0ed83.24ea84","name":"blue","props":[{"p":"payload","v":"blue","vt":"str"},{"p":"topic","v":"/controllo","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"blue","payloadType":"str","x":490,"y":360,"wires":[["d0b05460.206008"]]},{"id":"e444cef9.65639","type":"mosca in","z":"4ff0ed83.24ea84","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"test","password":"test","dburl":"","x":350,"y":220,"wires":[[]]},{"id":"be042fc8.7976","type":"inject","z":"4ff0ed83.24ea84","name":"green","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"green","payloadType":"str","x":490,"y":440,"wires":[["d0b05460.206008"]]},{"id":"aa7239f.36519c8","type":"inject","z":"4ff0ed83.24ea84","name":"white","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"white","payloadType":"str","x":490,"y":480,"wires":[["d0b05460.206008"]]},{"id":"d42ae881.4313f8","type":"inject","z":"4ff0ed83.24ea84","name":"off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"off","payloadType":"str","x":350,"y":540,"wires":[["d0b05460.206008"]]},{"id":"ef25258.bd0c9d8","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"6ae34c92.86e574","order":1,"width":0,"height":0,"passthru":false,"label":"red","tooltip":"","color":"red","bgcolor":"red","icon":"","payload":"red","payloadType":"str","topic":"/controllo","x":370,"y":620,"wires":[["d0b05460.206008"]]},{"id":"9dc8657a.29c078","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"6ae34c92.86e574","order":2,"width":0,"height":0,"passthru":false,"label":"blue","tooltip":"","color":"blue","bgcolor":"blue","icon":"","payload":"blue","payloadType":"str","topic":"/controllo","x":370,"y":660,"wires":[["d0b05460.206008"]]},{"id":"814fec25.69d57","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"6ae34c92.86e574","order":3,"width":0,"height":0,"passthru":false,"label":"green","tooltip":"","color":"green","bgcolor":"green","icon":"","payload":"green","payloadType":"str","topic":"/controllo","x":370,"y":700,"wires":[["d0b05460.206008"]]},{"id":"f68523d4.0ec4b","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"6ae34c92.86e574","order":4,"width":0,"height":0,"passthru":false,"label":"white","tooltip":"","color":"#ebebeb","bgcolor":"#ebebeb","icon":"","payload":"white","payloadType":"str","topic":"/controllo","x":370,"y":740,"wires":[["d0b05460.206008"]]},{"id":"13eec9b6.405586","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"6ae34c92.86e574","order":5,"width":0,"height":0,"passthru":false,"label":"SPEGNI","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"/controllo","x":640,"y":760,"wires":[["d0b05460.206008"]]},{"id":"2909a769.f5c5b8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ae34c92.86e574","type":"ui_group","z":"","name":"Colori","tab":"4895a066.8596","order":1,"disp":true,"width":"6","collapse":false},{"id":"4895a066.8596","type":"ui_tab","z":"","name":"Progettino","icon":"dashboard","order":5,"disabled":false,"hidden":false}]