Asincrona-MQTT-locale/Local-Mqtt-example(1884).json
[{"id":"b0ea04d4.e7e008","type":"mqtt in","z":"fd04a8e8.b4e6d8","name":"","topic":"/hello","qos":"2","datatype":"auto","broker":"43151229.eb98fc","x":510,"y":560,"wires":[["9ca6ade7.6be3a"]]},{"id":"9ca6ade7.6be3a","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":560,"wires":[]},{"id":"5e1e33f5.97aa7c","type":"inject","z":"fd04a8e8.b4e6d8","name":"complete json string (open)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"{\"deviceID\":\"server\",\"check\":\"on\",\"name\":\"Pino\",\"status\":\"open\",\"pin\":2,\"color\":\"red\"}","payloadType":"json","x":230,"y":400,"wires":[["c609339b.817b"]]},{"id":"6e7a6617.465ca8","type":"inject","z":"fd04a8e8.b4e6d8","name":"complete json string (closed)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"{\"deviceID\":\"server\",\"check\":\"off\",\"name\":\"LED\",\"status\":\"closed\",\"pin\":0,\"color\":\"red\"}","payloadType":"json","x":220,"y":440,"wires":[["c609339b.817b"]]},{"id":"23ac7c28.6cb754","type":"inject","z":"fd04a8e8.b4e6d8","name":"json for status open","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"{    \"status\": \"open\"}","payloadType":"json","x":250,"y":480,"wires":[["c609339b.817b"]]},{"id":"8ceb1d82.ed578","type":"inject","z":"fd04a8e8.b4e6d8","name":"json for pin 0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"{    \"pin\": 0}","payloadType":"json","x":270,"y":520,"wires":[["c609339b.817b"]]},{"id":"c609339b.817b","type":"mqtt out","z":"fd04a8e8.b4e6d8","name":"","topic":"/hello","qos":"","retain":"","broker":"43151229.eb98fc","x":530,"y":480,"wires":[]},{"id":"e1d86f1a.393f5","type":"comment","z":"fd04a8e8.b4e6d8","name":"Interroghiamo le nostre API","info":"","x":430,"y":340,"wires":[]},{"id":"56868d57.aeddb4","type":"aedes broker","z":"fd04a8e8.b4e6d8","name":"MQTT","mqtt_port":"1884","mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":590,"y":400,"wires":[[]]},{"id":"43151229.eb98fc","type":"mqtt-broker","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]