advanced-nodes.json
[{"id":"699a6823.6ecb68","type":"inject","z":"a00253e3.7983f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":800,"wires":[["3c741ae9.fd9e06"]]},{"id":"3c741ae9.fd9e06","type":"function","z":"a00253e3.7983f","name":"context","func":"value = context.get('count')||0;\nvalue++;\ncontext.set('count', value);\nreturn {payload :  value};","outputs":1,"noerr":0,"x":360,"y":800,"wires":[["ccd97d29.3cf5a"]]},{"id":"ccd97d29.3cf5a","type":"debug","z":"a00253e3.7983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":800,"wires":[]},{"id":"f6920a5.3e110f8","type":"inject","z":"a00253e3.7983f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":880,"wires":[["eddebfd6.0aae5"]]},{"id":"eddebfd6.0aae5","type":"function","z":"a00253e3.7983f","name":"payload = context.count","func":"return {payload :  context.get('count')};","outputs":1,"noerr":0,"x":410,"y":880,"wires":[["fb568633.c779b8"]]},{"id":"fb568633.c779b8","type":"debug","z":"a00253e3.7983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":880,"wires":[]},{"id":"ec674deb.4471c","type":"inject","z":"a00253e3.7983f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":980,"wires":[["da7fb0ae.3b8f9"]]},{"id":"da7fb0ae.3b8f9","type":"function","z":"a00253e3.7983f","name":"flow","func":"value = flow.get('count')||0;\nvalue++;\nflow.set('count', value);\nreturn {payload :  value};","outputs":1,"noerr":0,"x":350,"y":980,"wires":[["fa4407ba.a4f9e8"]]},{"id":"fa4407ba.a4f9e8","type":"debug","z":"a00253e3.7983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":980,"wires":[]},{"id":"cff5ccb3.728af","type":"inject","z":"a00253e3.7983f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1060,"wires":[["1ae8ce5f.9756a2"]]},{"id":"1ae8ce5f.9756a2","type":"function","z":"a00253e3.7983f","name":"payload = flow.count","func":"return {payload :  flow.get('count')};","outputs":1,"noerr":0,"x":400,"y":1060,"wires":[["51793709.774598"]]},{"id":"51793709.774598","type":"debug","z":"a00253e3.7983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":1060,"wires":[]},{"id":"d5608248.76e87","type":"inject","z":"a00253e3.7983f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1160,"wires":[["f01f6f7d.930af"]]},{"id":"f01f6f7d.930af","type":"function","z":"a00253e3.7983f","name":"global","func":"value = global.get('count')||0;\nvalue++;\nglobal.set('count', value);\nreturn {payload :  value};","outputs":1,"noerr":0,"x":350,"y":1160,"wires":[["681d8e9b.5cc4c"]]},{"id":"681d8e9b.5cc4c","type":"debug","z":"a00253e3.7983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":1160,"wires":[]},{"id":"8b0732.12ca88d","type":"inject","z":"a00253e3.7983f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1240,"wires":[["e59fece.902c51"]]},{"id":"e59fece.902c51","type":"function","z":"a00253e3.7983f","name":"payload = global.count","func":"return {payload :  global.get('count')};","outputs":1,"noerr":0,"x":400,"y":1240,"wires":[["95bd8d37.4929b"]]},{"id":"95bd8d37.4929b","type":"debug","z":"a00253e3.7983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":1240,"wires":[]}]
