api.json
[{"id":"8d2e8fa2.dbadb8","type":"http request","z":"14b152d8.2d885d","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:1880/test?val1=224&val2=5","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":620,"wires":[["79af3185.5e0c8"]]},{"id":"79af3185.5e0c8","type":"debug","z":"14b152d8.2d885d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":620,"wires":[]},{"id":"a595b6a6.070fb8","type":"http in","z":"14b152d8.2d885d","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":560,"y":560,"wires":[["240b1da9.07b982"]]},{"id":"240b1da9.07b982","type":"debug","z":"14b152d8.2d885d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":560,"wires":[]},{"id":"2ab9c6b8.56313a","type":"inject","z":"14b152d8.2d885d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":620,"wires":[["8d2e8fa2.dbadb8"]]}]
