dashboard.json
[{"id":"d6c20446.088da8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"768df8bc.49fa08","type":"ui_button","z":"d6c20446.088da8","name":"","group":"91fe1b68.4eb2d8","order":0,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-certificate","payload":"Ciao","payloadType":"str","topic":"","x":430,"y":280,"wires":[["3b834746.3d884"]]},{"id":"3b834746.3d884","type":"ui_text","z":"d6c20446.088da8","group":"91fe1b68.4eb2d8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":320,"wires":[]},{"id":"df2800ee.50572","type":"ui_button","z":"d6c20446.088da8","name":"","group":"91fe1b68.4eb2d8","order":0,"width":"1","height":"1","passthru":false,"label":"clean","tooltip":"","color":"","bgcolor":"","icon":"fa-certificate","payload":"null","payloadType":"str","topic":"","x":430,"y":360,"wires":[["3b834746.3d884"]]},{"id":"62a23d91.07c874","type":"ui_gauge","z":"d6c20446.088da8","name":"","group":"1b434935.7fe687","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":440,"wires":[]},{"id":"728a5ea6.14548","type":"ui_slider","z":"d6c20446.088da8","name":"","label":"slider","tooltip":"","group":"91fe1b68.4eb2d8","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":420,"y":460,"wires":[["62a23d91.07c874","9ee68aa5.e6d668"]]},{"id":"9ee68aa5.e6d668","type":"ui_chart","z":"d6c20446.088da8","name":"","group":"1b434935.7fe687","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":540,"wires":[[]]},{"id":"a89a4d55.c74b38","type":"ui_dropdown","z":"d6c20446.088da8","name":"","label":"","tooltip":"","place":"Select option","group":"91fe1b68.4eb2d8","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"0","value":0,"type":"num"},{"label":"10","value":"10","type":"str"},{"label":"max","value":"100","type":"str"}],"payload":"","topic":"","x":420,"y":580,"wires":[["9ee68aa5.e6d668"]]},{"id":"694ab843.cb178","type":"ui_numeric","z":"d6c20446.088da8","name":"","label":"numeric","tooltip":"","group":"91fe1b68.4eb2d8","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":420,"y":660,"wires":[["9ee68aa5.e6d668","62a23d91.07c874"]]},{"id":"9af49d2f.9c3be","type":"ui_switch","z":"d6c20446.088da8","name":"","label":"switch","tooltip":"","group":"91fe1b68.4eb2d8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":740,"wires":[["856bcaa1.cc54","5eb6e5e5.87d73c"]]},{"id":"856bcaa1.cc54","type":"ui_text","z":"d6c20446.088da8","group":"1b434935.7fe687","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":740,"wires":[]},{"id":"5eb6e5e5.87d73c","type":"ui_toast","z":"d6c20446.088da8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":660,"wires":[]},{"id":"689254c.f1ff52c","type":"ui_text_input","z":"d6c20446.088da8","name":"","label":"","tooltip":"","group":"91fe1b68.4eb2d8","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":420,"y":840,"wires":[["c56664c3.c285a"]]},{"id":"c56664c3.c285a","type":"ui_text","z":"d6c20446.088da8","group":"1b434935.7fe687","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":820,"wires":[]},{"id":"b8587f86.d6d1f8","type":"ui_date_picker","z":"d6c20446.088da8","name":"","label":"date","group":"91fe1b68.4eb2d8","order":8,"width":0,"height":0,"passthru":true,"topic":"","x":420,"y":900,"wires":[["bab931da.0365d8"]]},{"id":"bab931da.0365d8","type":"ui_text","z":"d6c20446.088da8","group":"1b434935.7fe687","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":880,"wires":[]},{"id":"480b33d4.c7c314","type":"ui_colour_picker","z":"d6c20446.088da8","name":"","label":"","group":"91fe1b68.4eb2d8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":9,"width":0,"height":0,"passthru":true,"topic":"","x":440,"y":980,"wires":[["17f4a395.28e65c"]]},{"id":"17f4a395.28e65c","type":"ui_text","z":"d6c20446.088da8","group":"1b434935.7fe687","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":980,"wires":[]},{"id":"4b5ed304.5e3e14","type":"ui_audio","z":"d6c20446.088da8","name":"","group":"1b434935.7fe687","voice":"","always":"","x":660,"y":1040,"wires":[]},{"id":"6c51b672.85b288","type":"ui_text_input","z":"d6c20446.088da8","name":"","label":"","tooltip":"","group":"91fe1b68.4eb2d8","order":10,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":400,"y":1020,"wires":[["4b5ed304.5e3e14"]]},{"id":"2e6bc4c0.75dd9c","type":"ui_form","z":"d6c20446.088da8","name":"","label":"","group":"91fe1b68.4eb2d8","order":11,"width":0,"height":0,"options":[{"label":"name","value":"Nome","type":"text","required":true,"rows":null},{"label":"surname","value":"Cognome","type":"text","required":true,"rows":null},{"label":"mail","value":"mail","type":"text","required":true,"rows":null}],"formValue":{"Nome":"","Cognome":"","mail":""},"payload":"","submit":"invia!","cancel":"cancella","topic":"","x":420,"y":1080,"wires":[["7bf71da.4855c64"]]},{"id":"7bf71da.4855c64","type":"ui_text","z":"d6c20446.088da8","group":"1b434935.7fe687","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1120,"wires":[]},{"id":"91fe1b68.4eb2d8","type":"ui_group","z":"","name":"9 gennaio","tab":"f1615584.f8dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b434935.7fe687","type":"ui_group","z":"","name":"Dati","tab":"f1615584.f8dc","order":2,"disp":true,"width":"10","collapse":false},{"id":"f1615584.f8dc","type":"ui_tab","z":"","name":"Ascanio","icon":"fa-certificate","order":1,"disabled":false,"hidden":false}]
