GttMorrittiBot.json
[{"id":"ed0087be.03f608","type":"chatbot-telegram-receive","z":"f5f749f0.62a9e8","bot":"","botProduction":"","x":110,"y":80,"wires":[["3e176ff2.0226d"]]},{"id":"3e176ff2.0226d","type":"chatbot-rules","z":"f5f749f0.62a9e8","name":"","rules":[{"type":"command","command":"/start"}],"outputs":1,"x":290,"y":80,"wires":[["99c71e98.9736f"]]},{"id":"10253cdc.1e92f3","type":"chatbot-telegram-send","z":"f5f749f0.62a9e8","bot":"","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":430,"y":160,"wires":[["778dd37a.3f119c","19757a9.b8e4b85"]]},{"id":"778dd37a.3f119c","type":"debug","z":"f5f749f0.62a9e8","name":"InformationArray","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":80,"wires":[]},{"id":"99c71e98.9736f","type":"chatbot-message","z":"f5f749f0.62a9e8","name":"MxgBenvenuto","message":[{"message":"CIAO {{username}}\nInserisci il numero della fermata..."}],"language":"it","x":190,"y":160,"wires":[["10253cdc.1e92f3"]]},{"id":"19757a9.b8e4b85","type":"function","z":"f5f749f0.62a9e8","name":"FunzioneNumFermata","func":"msg.payload = parseInt(msg.payload.content);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["7d39f710.943bc8"]]},{"id":"7d39f710.943bc8","type":"http request","z":"f5f749f0.62a9e8","name":"Gtt API","method":"GET","ret":"obj","paytoqs":false,"url":"http://gpa.madbob.org/query.php?stop={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":360,"wires":[["2042c57.cf92d3a","f6850047.d8088"]]},{"id":"2042c57.cf92d3a","type":"debug","z":"f5f749f0.62a9e8","name":"ArrayFermate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":420,"wires":[]},{"id":"295a1a1d.668106","type":"chatbot-message","z":"f5f749f0.62a9e8","name":"Orario Passaggi","message":[{"message":"{{payload}}\n\n"}],"language":"","x":560,"y":240,"wires":[["798e4645.8af718"]]},{"id":"798e4645.8af718","type":"chatbot-telegram-send","z":"f5f749f0.62a9e8","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":710,"y":280,"wires":[]},{"id":"f6850047.d8088","type":"function","z":"f5f749f0.62a9e8","name":"Lettura array","func":"var list = \"Ecco l'orario dei bus:\\n\\n\"\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += msg.payload[i].line +\": \"+msg.payload[i].hour+\"\\n\";    \n}     \n    \n\nmsg.payload = list;\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["295a1a1d.668106"]]}]