guidone.json
[{"id":"ad1fa27d.1cc44","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ec830ce1.19ed9","type":"chatbot-telegram-receive","z":"ad1fa27d.1cc44","bot":"8e682e10.9fced","botProduction":"","x":110,"y":240,"wires":[["3d8e4af5.216a46"]]},{"id":"f5e42b2f.44a6a8","type":"chatbot-telegram-send","z":"ad1fa27d.1cc44","bot":"8e682e10.9fced","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1470,"y":340,"wires":[]},{"id":"a1489c9c.418d6","type":"chatbot-message","z":"ad1fa27d.1cc44","name":"","message":[{"message":"Ciao {{firstName}}, condividi le coordinate per trovare la farmacia piu vicina"}],"language":"none","x":890,"y":220,"wires":[["626531ca.0268c"]]},{"id":"9a0e5851.31a8c8","type":"chatbot-message","z":"ad1fa27d.1cc44","name":"","message":[{"message":"Non ho capito"},{"message":"Riprovaci"}],"language":"none","x":940,"y":320,"wires":[["f5e42b2f.44a6a8"]]},{"id":"626531ca.0268c","type":"chatbot-telegram-send","z":"ad1fa27d.1cc44","bot":"8e682e10.9fced","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1050,"y":220,"wires":[["e281eee7.afa65"]]},{"id":"9ea88f38.4778c","type":"chatbot-message","z":"ad1fa27d.1cc44","name":"","message":[{"message":"La tua posizione\nlat {{payload.content.latitude}}\nlon {{payload.content.longitude}}"}],"language":"none","x":1450,"y":220,"wires":[["244440c7.0669f"]]},{"id":"244440c7.0669f","type":"chatbot-telegram-send","z":"ad1fa27d.1cc44","bot":"8e682e10.9fced","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1530,"y":220,"wires":[]},{"id":"e281eee7.afa65","type":"chatbot-rules","z":"ad1fa27d.1cc44","name":"","rules":[{"type":"messageType","messageType":"location"},{"type":"catchAll"}],"outputs":2,"x":1290,"y":220,"wires":[["9ea88f38.4778c"],["9a0e5851.31a8c8"]]},{"id":"83367b8a.e10068","type":"inject","z":"ad1fa27d.1cc44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":560,"wires":[["e402205.35601e"]]},{"id":"e402205.35601e","type":"chatbot-nlpjs-intent","z":"ad1fa27d.1cc44","intent":"search","language":"it","utterances":["dov'e' la farmacia piu vicina","dove trovo una farmacia","sai indicarmi una farmacia","trovami una farmacia","dov'e' una farmacia","una farmacia qui vicino?","dove sono le farmacie"],"outputs":1,"x":390,"y":560,"wires":[["ecfd1e94.e1be3"]]},{"id":"ecfd1e94.e1be3","type":"chatbot-nlpjs-train","z":"ad1fa27d.1cc44","name":"","debug":true,"x":700,"y":560,"wires":[[]]},{"id":"3d8e4af5.216a46","type":"chatbot-nlpjs","z":"ad1fa27d.1cc44","name":"","debug":true,"scoreThreshold":50,"x":350,"y":240,"wires":[["83a1e634.b68e28"]]},{"id":"83a1e634.b68e28","type":"chatbot-rules","z":"ad1fa27d.1cc44","name":"","rules":[{"type":"isIntentName","intent":"search"},{"type":"catchAll"}],"outputs":2,"x":610,"y":240,"wires":[["a1489c9c.418d6"],["9a0e5851.31a8c8"]]},{"id":"8e682e10.9fced","type":"chatbot-telegram-node","z":"","botname":"Test","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"}]
