madbob.json
[{"id":"8ec55296.365418","type":"inject","z":"14b152d8.2d885d","name":"","topic":"","payload":"134","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":380,"wires":[["e73d8be3.d50f58"]]},{"id":"e73d8be3.d50f58","type":"http request","z":"14b152d8.2d885d","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://gpa.madbob.org/query.php?stop={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":380,"wires":[["13265218.94425e"]]},{"id":"13265218.94425e","type":"debug","z":"14b152d8.2d885d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":380,"wires":[]}]
