MeteoMorrittiBot.json
[{"id":"e4a79d17.f2617","type":"chatbot-telegram-receive","z":"8a02f323.6b8cc","bot":"","botProduction":"","x":110,"y":60,"wires":[["d7922011.d701a"]]},{"id":"805ed917.760818","type":"chatbot-telegram-send","z":"8a02f323.6b8cc","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":770,"y":140,"wires":[]},{"id":"b3349b93.fe8cf8","type":"http request","z":"8a02f323.6b8cc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":320,"wires":[["41331634.68eec8","eacb24a3.90dd18"]]},{"id":"d7922011.d701a","type":"chatbot-rules","z":"8a02f323.6b8cc","name":"","rules":[{"type":"command","command":"/start"}],"outputs":1,"x":290,"y":60,"wires":[["9c479318.5f70c"]]},{"id":"9c479318.5f70c","type":"chatbot-message","z":"8a02f323.6b8cc","name":"MxgBenvenuto","message":[{"message":"Ciao {{username}}\nInserisci nome Città.."},{"message":"Ehi {{username}}\nDi che città vuoi sapere il meteo?"},{"message":"Ciao {{username}}\nScrivi il nome di una città :)"},{"message":"Vuoi sapere il meteo {{username}}?\nScrivimi dove vivi :D"}],"language":"it","x":450,"y":60,"wires":[["8b0e4382.2c9c5"]]},{"id":"8b0e4382.2c9c5","type":"chatbot-telegram-send","z":"8a02f323.6b8cc","bot":"","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":270,"y":180,"wires":[["311567d8.d1db48","db97786c.24c4e8"]]},{"id":"311567d8.d1db48","type":"debug","z":"8a02f323.6b8cc","name":"ArrayInformation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":140,"wires":[]},{"id":"db97786c.24c4e8","type":"function","z":"8a02f323.6b8cc","name":"CittyNameFunction","func":"msg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["b3349b93.fe8cf8"]]},{"id":"41331634.68eec8","type":"debug","z":"8a02f323.6b8cc","name":"ArrayMeteo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":380,"wires":[]},{"id":"59ff62f3.014f1c","type":"chatbot-message","z":"8a02f323.6b8cc","name":"Risultati Meteo","message":[{"message":"{{payload}}\n\nPREMI QUI\n⇩⇩⇩⇩⇩⇩⇩⇩⇩\n    /start\n"}],"language":"it","x":770,"y":240,"wires":[["805ed917.760818"]]},{"id":"eacb24a3.90dd18","type":"function","z":"8a02f323.6b8cc","name":"Estrazione dati","func":"var name = msg.payload.name;\nvar descr = msg.payload.weather[0].description;\nvar temp = msg.payload.main.temp;\nvar tempMin = msg.payload.main.temp_min;\nvar tempMax = msg.payload.main.temp_max;\nvar humidity = msg.payload.main.humidity;\n\nif(humidity < 33){\n    humidity = \"Low Humidity\";\n}else if(humidity > 66){\n    humidity = \"High Humidity\";\n}else{\n    humidity = \"Medium Humidity\";\n}\n\n//conv kelvin-cels\ntemp = parseInt(temp) - 273;\ntempMin = parseInt(tempMin) - 273;\ntempMax = parseInt(tempMax) - 273;\n\n//conc payload\nmsg.payload = \"-The sky in \" + name + \n                \" is: \\n\" + descr + \"\\n\\n\" + \n                \"-The Temperature is di: \\n\" + \n                temp + \" degrees \\n\"+\n                \"Minimum: \" + \n                tempMin + \" degrees \\n\" +\n                \"Massima: \" +\n                 tempMax+ \" degrees\"+\"\\n\\n\"+\n                 \"-\" + humidity\n                 ;\n               \nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["a157cde1.4a18"]]},{"id":"a157cde1.4a18","type":"google-translate","z":"8a02f323.6b8cc","from":"en","name":"dataTranslate","to":"it","x":780,"y":340,"wires":[["59ff62f3.014f1c"]]}]