meteo-bot.json
[{"id":"d5bd4321.b096c","type":"chatbot-telegram-receive","z":"7cf5102e.d1a2e","bot":"","botProduction":"398b5bb9.5d7b74","x":170,"y":460,"wires":[["d6e7c45a.f464e8"]]},{"id":"d6e7c45a.f464e8","type":"chatbot-message","z":"7cf5102e.d1a2e","name":"","message":[{"message":"Ciao. Vuoi sapere il meteo di oggi? Basta che mi scrivi il nome della città ed io te lo metto qui in chat :)"}],"language":"it","x":280,"y":520,"wires":[["a8014d13.e0d11"]]},{"id":"187b9d0e.e28733","type":"chatbot-telegram-send","z":"7cf5102e.d1a2e","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1090,"y":740,"wires":[]},{"id":"e76d92e3.923ab","type":"chatbot-parse","z":"7cf5102e.d1a2e","name":"","parseType":"string","parseVariable":"citta","x":480,"y":640,"wires":[["1c636f0d.e208a1"],[]]},{"id":"1f10da7e.20fb26","type":"html","z":"7cf5102e.d1a2e","name":"Latest update","property":"payload","outproperty":"payload","tag":"tr.situa2:nth-child(3) > td:nth-child(3)","ret":"text","as":"multi","x":680,"y":740,"wires":[["c310fec8.1f0ce","f2cb80cc.7fe5c"]]},{"id":"151b5424.6fbc0c","type":"inject","z":"7cf5102e.d1a2e","name":"","topic":"","payload":"Torino","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":700,"wires":[["1c636f0d.e208a1"]]},{"id":"1c636f0d.e208a1","type":"http request","z":"7cf5102e.d1a2e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.ilmeteo.it/meteo/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":700,"wires":[["1f10da7e.20fb26","36e24def.fc1302"]]},{"id":"c310fec8.1f0ce","type":"debug","z":"7cf5102e.d1a2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":800,"wires":[]},{"id":"f2cb80cc.7fe5c","type":"chatbot-message","z":"7cf5102e.d1a2e","name":"","message":[{"message":"a {{citta}} registriamo {{payload.content}}"}],"language":"it","x":860,"y":740,"wires":[["6b31a918.c8c958","187b9d0e.e28733"]]},{"id":"6b31a918.c8c958","type":"debug","z":"7cf5102e.d1a2e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":800,"wires":[]},{"id":"a8014d13.e0d11","type":"chatbot-telegram-send","z":"7cf5102e.d1a2e","bot":"","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":390,"y":580,"wires":[["e76d92e3.923ab"]]},{"id":"36e24def.fc1302","type":"debug","z":"7cf5102e.d1a2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":800,"wires":[]},{"id":"398b5bb9.5d7b74","type":"chatbot-telegram-node","z":"","botname":"ITSICT2020_bot","usernames":"","providerToken":"1135375664:AAFRCDeMj5a2WvOMv52QB1QyzB-wCreYPNA","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"}]
