Mi_Sento_fortunato_Morritti_bot.json
[{"id":"9b72e23.0e0f32","type":"tab","label":"ricerca google","disabled":false,"info":""},{"id":"7ddd9320.8df83c","type":"inject","z":"9b72e23.0e0f32","name":"","topic":"","payload":"facebook","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":420,"wires":[["decb3433.651388"]]},{"id":"decb3433.651388","type":"nbrowser","z":"9b72e23.0e0f32","name":"","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"str","value":"https://www.google.it/","typeDefault":"str"}]},{"name":"insert","func":"insert","params":[{"type":"str","value":".gLFyf","typeDefault":"str"},{"type":"msg","value":"payload.content","typeDefault":"str"}]},{"name":"click","func":"click","params":[{"type":"str","value":".FPdoLc > center:nth-child(1) > input:nth-child(2)","typeDefault":"str"}]},{"name":"getURL","func":"url","params":[{"type":"output","value":1,"typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":true,"ssl":false,"outputs":2,"x":560,"y":420,"wires":[["a15a65c0.f8c808"],[]]},{"id":"511cfff8.c7a6a","type":"chatbot-telegram-receive","z":"9b72e23.0e0f32","bot":"","botProduction":"","x":230,"y":160,"wires":[["59410f4a.028a5"]]},{"id":"acf06bde.5a7f28","type":"chatbot-telegram-send","z":"9b72e23.0e0f32","bot":"","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":490,"y":320,"wires":[["decb3433.651388"]]},{"id":"59410f4a.028a5","type":"chatbot-message","z":"9b72e23.0e0f32","name":"","message":[{"message":"{{username}} digita qui la tua ricerca!!😄"},{"message":"Cosa vuoi cercare {{username}}?😄"}],"language":"","x":230,"y":280,"wires":[["acf06bde.5a7f28"]]},{"id":"e48854fa.439328","type":"chatbot-telegram-send","z":"9b72e23.0e0f32","bot":"","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":630,"y":180,"wires":[["59410f4a.028a5"]]},{"id":"a15a65c0.f8c808","type":"chatbot-message","z":"9b72e23.0e0f32","name":"","message":[""],"language":null,"x":900,"y":320,"wires":[["e48854fa.439328"]]}]