minimal-nbrowser.json
[{"id":"51c8caeb.343a24","type":"nbrowser","z":"f0be9bb4.d15948","name":"","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"str","value":"https://it.wikipedia.org/wiki/Deepfake","typeDefault":"str"}]},{"name":"viewport","func":"viewport","params":[{"type":"num","value":"1000","typeDefault":"num"},{"type":"num","value":"1000","typeDefault":"num"}]},{"name":"click","func":"click","params":[{"type":"str","value":"#cnotice-toggle-box","typeDefault":"str"}]},{"name":"getText","func":"getText","params":[{"type":"str","value":"","typeDefault":"str"},{"type":"output","value":1,"typeDefault":"output"}]},{"name":"saveAs","func":"saveAs","params":[{"type":"saveAction","value":"pdf","typeDefault":"saveAction"},{"type":"str","value":"prova","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":true,"ssl":false,"outputs":2,"x":460,"y":420,"wires":[["d874fa97.728998"],["789ee09b.272f5"]]},{"id":"6d547f59.e801c8","type":"inject","z":"f0be9bb4.d15948","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":420,"wires":[["51c8caeb.343a24"]]},{"id":"d874fa97.728998","type":"debug","z":"f0be9bb4.d15948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":400,"wires":[]},{"id":"789ee09b.272f5","type":"debug","z":"f0be9bb4.d15948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":440,"wires":[]}]