openweathermap.json
[{"id":"8b8f33f1.c9861","type":"inject","z":"49b49317.328e2c","name":"","topic":"","payload":"Turin","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":960,"wires":[["7a82d052.d9fa2"]]},{"id":"7a82d052.d9fa2","type":"http request","z":"49b49317.328e2c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":980,"wires":[["8b2a1853.93b0c8","94b28034.b28c","d5fc476b.827008"]]},{"id":"8b2a1853.93b0c8","type":"debug","z":"49b49317.328e2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":" payload.name & ' '&  payload.weather[0].main","targetType":"jsonata","x":740,"y":980,"wires":[]},{"id":"94b28034.b28c","type":"debug","z":"49b49317.328e2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":700,"y":1080,"wires":[]},{"id":"d5fc476b.827008","type":"debug","z":"49b49317.328e2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weather.0.main","targetType":"msg","x":660,"y":1160,"wires":[]}]
