SQ-Order-By.json
[{"id":"c6a7bc73.45c0d","type":"comment","z":"6b0c6209.9baffc","name":"https://www.sqlitetutorial.net/sqlite-order-by/","info":"","x":500,"y":240,"wires":[]},{"id":"97547b35.c86bd8","type":"inject","z":"6b0c6209.9baffc","name":"SELECT name, milliseconds, albumid FROM tracks;","topic":"SELECT     name,     milliseconds,          albumid FROM     tracks;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":300,"wires":[["1eec36c6.204099"]]},{"id":"1eec36c6.204099","type":"sqlite","z":"6b0c6209.9baffc","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":690,"y":300,"wires":[["29557342.b19f5c"]]},{"id":"29557342.b19f5c","type":"debug","z":"6b0c6209.9baffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":300,"wires":[]},{"id":"696cc8be.41c108","type":"inject","z":"6b0c6209.9baffc","name":"SELECT  name, millisecond, albumid FROM tracks ORDER BY albumid ASC;","topic":"SELECT     name,     milliseconds,      albumid FROM     tracks ORDER BY     albumid ASC;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":360,"wires":[["28aad0d1.fdeb8"]]},{"id":"28aad0d1.fdeb8","type":"sqlite","z":"6b0c6209.9baffc","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":650,"y":420,"wires":[["5b5ade35.de728"]]},{"id":"5b5ade35.de728","type":"debug","z":"6b0c6209.9baffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":420,"wires":[]},{"id":"2cad99fb.15a066","type":"inject","z":"6b0c6209.9baffc","name":"SELECT      TrackId,      Name,      Composer  FROM     tracks ORDER BY     Composer;","topic":"SELECT      TrackId,      Name,      Composer  FROM     tracks ORDER BY     Composer;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":540,"wires":[["79a8a075.edc74"]]},{"id":"79a8a075.edc74","type":"sqlite","z":"6b0c6209.9baffc","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":630,"y":640,"wires":[["dbbf931d.99408"]]},{"id":"dbbf931d.99408","type":"debug","z":"6b0c6209.9baffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":640,"wires":[]},{"id":"414ff4e9.b44f9c","type":"comment","z":"6b0c6209.9baffc","name":"The Power Of NULL","info":"","x":370,"y":480,"wires":[]},{"id":"729e9b35.600be4","type":"sqlitedb","z":"","db":"C:\\Users\\Davide Gomba\\Documents\\A - ITS\\online course\\db\\chinook.db","mode":"RWC"}]