SQ-Select.json
[{"id":"ffb5eb22.8ec808","type":"inject","z":"5f34b7c5.28a9a8","name":"SELECT    1 + 1;","topic":"SELECT    1 + 1;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":160,"wires":[["e85a9b80.d6c688"]]},{"id":"e85a9b80.d6c688","type":"sqlite","z":"5f34b7c5.28a9a8","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":710,"y":160,"wires":[["ddf8dd94.51551"]]},{"id":"ddf8dd94.51551","type":"debug","z":"5f34b7c5.28a9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":160,"wires":[]},{"id":"3d8f6287.21650e","type":"inject","z":"5f34b7c5.28a9a8","name":"SELECT     10 / 5,     2 * 4 ;","topic":"SELECT     10 / 5,     2 * 4 ;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":220,"wires":[["3b59697e.d343d6"]]},{"id":"3b59697e.d343d6","type":"sqlite","z":"5f34b7c5.28a9a8","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":710,"y":220,"wires":[["2198b64f.7be4ea"]]},{"id":"2198b64f.7be4ea","type":"debug","z":"5f34b7c5.28a9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":220,"wires":[]},{"id":"907ddbb6.12d6c8","type":"inject","z":"5f34b7c5.28a9a8","name":"SELECT     trackid,     name,     composer,     unitprice FROM     tracks;","topic":"SELECT     trackid,     name,     composer,     unitprice FROM     tracks;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":320,"wires":[["8207d0f3.1b207"]]},{"id":"8207d0f3.1b207","type":"sqlite","z":"5f34b7c5.28a9a8","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":690,"y":320,"wires":[["5ffc509b.aca93","d6663c23.edfe"]]},{"id":"5ffc509b.aca93","type":"debug","z":"5f34b7c5.28a9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":280,"wires":[]},{"id":"94514293.c106e","type":"inject","z":"5f34b7c5.28a9a8","name":"SELECT     trackid,     name,     albumid,     mediatypeid,     genreid,     composer,     milliseconds,     bytes,     unitprice FROM     tracks;","topic":"SELECT     trackid,     name,     albumid,     mediatypeid,     genreid,     composer,     milliseconds,     bytes,     unitprice FROM     tracks;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":420,"wires":[["9165f86.6d3a908"]]},{"id":"9165f86.6d3a908","type":"sqlite","z":"5f34b7c5.28a9a8","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":610,"y":520,"wires":[["703971db.8c0b6"]]},{"id":"703971db.8c0b6","type":"debug","z":"5f34b7c5.28a9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":480,"wires":[]},{"id":"d6663c23.edfe","type":"debug","z":"5f34b7c5.28a9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[94].Name","targetType":"msg","x":990,"y":340,"wires":[]},{"id":"a99d362d.b86018","type":"comment","z":"5f34b7c5.28a9a8","name":"https://www.sqlitetutorial.net/sqlite-select/","info":"","x":240,"y":80,"wires":[]},{"id":"1209d20b.63142e","type":"inject","z":"5f34b7c5.28a9a8","name":"SELECT * FROM tracks;","topic":"SELECT * FROM tracks;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":520,"wires":[["9165f86.6d3a908"]]},{"id":"729e9b35.600be4","type":"sqlitedb","z":"","db":"C:\\Users\\Davide Gomba\\Documents\\A - ITS\\online course\\db\\chinook.db","mode":"RWC"}]