teelgram-to-db-1.json
[{"id":"5007ad85.ad3ea4","type":"chatbot-rules","z":"239f3b06.179de4","name":"","rules":[{"type":"command","command":"/search"},{"type":"isTopic","topic":"search_track"},{"type":"catchAll"}],"outputs":3,"x":370,"y":220,"wires":[["9ccced2d.cf2b3"],["1785ef89.379ef"],["597f390f.583328"]]},{"id":"8d21a221.a21a7","type":"chatbot-telegram-receive","z":"239f3b06.179de4","bot":"","botProduction":"","x":190,"y":260,"wires":[["5007ad85.ad3ea4","896c6205.fb61e"]]},{"id":"53062d1c.ed91e4","type":"chatbot-telegram-send","z":"239f3b06.179de4","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1310,"y":220,"wires":[]},{"id":"597f390f.583328","type":"chatbot-inline-buttons","z":"239f3b06.179de4","name":"","buttons":[{"type":"postback","label":"Ricerca Tracce","value":"/search","answer":"","alert":false,"style":"default"}],"message":"Cosa vuoi fare?","x":860,"y":360,"wires":[["53062d1c.ed91e4"]]},{"id":"9ccced2d.cf2b3","type":"function","z":"239f3b06.179de4","name":"topic set","func":"var chat = msg.chat();\nchat.set(\"topic\",\"search_track\");\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["4f6ef916.6b3098"]]},{"id":"4f6ef916.6b3098","type":"chatbot-message","z":"239f3b06.179de4","name":"","message":[{"message":"Digita il nome delle tracce da cercare"}],"language":"","x":1010,"y":160,"wires":[["53062d1c.ed91e4"]]},{"id":"1785ef89.379ef","type":"function","z":"239f3b06.179de4","name":"topic unset","func":"var chat = msg.chat();\nchat.set(\"topic\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["bae421c4.63523"]]},{"id":"bae421c4.63523","type":"function","z":"239f3b06.179de4","name":"make query","func":"var name = msg.payload.content\nmsg.topic = \"SELECT trackid,name FROM tracks WHERE name LIKE '%\"+ name + \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["314a6139.26a96e"]]},{"id":"314a6139.26a96e","type":"sqlite","z":"239f3b06.179de4","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite","x":870,"y":280,"wires":[["3b826cb9.466524"]]},{"id":"896c6205.fb61e","type":"debug","z":"239f3b06.179de4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":300,"wires":[]},{"id":"eeaecead.22747","type":"chatbot-message","z":"239f3b06.179de4","name":"","message":[],"language":"","x":1090,"y":220,"wires":[["53062d1c.ed91e4"]]},{"id":"3b826cb9.466524","type":"function","z":"239f3b06.179de4","name":"array send","func":"var list = \"Ecco le tracce registrate:\\n\\n\"\nfor(var i = 0; i < msg.payload.length; i++){\n    list += parseInt(msg.payload[i].TrackId)+\": \"+msg.payload[i].Name+\"\\n\";\n}\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["eeaecead.22747"]]},{"id":"729e9b35.600be4","type":"sqlitedb","z":"","db":"C:\\Users\\Davide Gomba\\Documents\\A - ITS\\online course\\db\\chinook.db","mode":"RWC"}]