ui_db.json
[{"id":"fceb58a7.dd5958","type":"comment","z":"fba81a1d.a47658","name":"https://www.sqlitetutorial.net/sqlite-select-distinct","info":"","x":780,"y":180,"wires":[]},{"id":"5dc23ce8.6ea7e4","type":"inject","z":"fba81a1d.a47658","name":"SELECT city FROM customers ORDER BY city;","topic":"SELECT city FROM customers ORDER BY city;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":300,"wires":[["b668922c.aefaf"]]},{"id":"a8d9e0e8.ac391","type":"inject","z":"fba81a1d.a47658","name":"SELECT DISTINCT city FROM customers ORDER BY city;","topic":"SELECT DISTINCT city FROM customers ORDER BY city;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":420,"wires":[["b668922c.aefaf"]]},{"id":"b668922c.aefaf","type":"sqlite","z":"fba81a1d.a47658","mydb":"729e9b35.600be4","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":830,"y":340,"wires":[["9b5e3b0c.432f38","8a5e0bc6.bf3a88"]]},{"id":"9b5e3b0c.432f38","type":"debug","z":"fba81a1d.a47658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":340,"wires":[]},{"id":"8a5e0bc6.bf3a88","type":"ui_template","z":"fba81a1d.a47658","group":"7fd4e37b.38039c","name":"UI Table City, Name","order":1,"width":"12","height":"18","format":"<style>\n.table\n{\n   \n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>City</th> \n    <th>Name</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:50\">\n    <td>{{msg.payload[$index].City}}</td>\n    <td>{{msg.payload[$index].Name}}</td>\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1110,"y":260,"wires":[[]]},{"id":"1df5a765.10a189","type":"ui_button","z":"fba81a1d.a47658","name":"","group":"12469dbd.d445d2","order":3,"width":0,"height":0,"passthru":false,"label":"Distinct To Cities","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":380,"wires":[["f2078be8.75fce8"]]},{"id":"f2078be8.75fce8","type":"function","z":"fba81a1d.a47658","name":"SELECT DISTINCT city FROM customers ORDER BY city;","func":"msg.topic = \"SELECT DISTINCT city FROM customers ORDER BY city;\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["b668922c.aefaf"]]},{"id":"e92bce40.1c80e","type":"function","z":"fba81a1d.a47658","name":"SELECT city FROM customers ORDER BY city;","func":"msg.topic = \"SELECT city FROM customers ORDER BY city;\"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["b668922c.aefaf"]]},{"id":"cc37106c.b51a","type":"ui_button","z":"fba81a1d.a47658","name":"","group":"12469dbd.d445d2","order":3,"width":0,"height":0,"passthru":false,"label":"All Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":300,"wires":[["e92bce40.1c80e"]]},{"id":"7b942375.8659dc","type":"ui_button","z":"fba81a1d.a47658","name":"","group":"12469dbd.d445d2","order":3,"width":0,"height":0,"passthru":false,"label":"Clean Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":200,"wires":[["8f49cf21.72c4"]]},{"id":"8f49cf21.72c4","type":"function","z":"fba81a1d.a47658","name":"SELECT ","func":"msg.payload =  [];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["8a5e0bc6.bf3a88"]]},{"id":"50bfc4c7.db45bc","type":"ui_template","z":"fba81a1d.a47658","group":"8ce0de 36.6fc8a","name":"UI Table City, Name, Country","order":1,"width":"","height":"","format":"<style>\n.table\n{\n   \n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>City</th> \n    <th>Name</th>\n    <th>Country</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:50\">\n    <td>{{msg.payload[$index].City}}</td>\n    <td>{{msg.payload[$index].Name}}</td>\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1140,"y":300,"wires":[[]]},{"id":"729e9b35.600be4","type":"sqlitedb","z":"","db":"C:\\Users\\Davide Gomba\\Documents\\A - ITS\\online course\\db\\chinook.db","mode":"RWC"},{"id":"7fd4e37b.38039c","type":"ui_group","z":"","name":"Cities","tab":"bbaf988a.a7be68","order":1,"disp":true,"width":"12","collapse":false},{"id":"12469dbd.d445d2","type":"ui_group","z":"","name":"UI","tab":"bbaf988a.a7be68","order":2,"disp":true,"width":"6","collapse":false},{"id":"8ce0de36.6fc8a","type":"ui_group","z":"","name":"Default","tab":"deb7b158.4ccd2","disp":true,"width":"6","collapse":false},{"id":"bbaf988a.a7be68","type":"ui_tab","z":"","name":"DB","icon":"dashboard","disabled":false,"hidden":false},{"id":"deb7b158.4ccd2","type":"ui_tab","z":"","name":"Other DB","icon":"dashboard","disabled":false,"hidden":false}]
