MQTT/mqtt.json
[{"id":"a2b6f053.f1336","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"50a5441.7851cbc","type":"mqtt in","z":"a2b6f053.f1336","name":"","topic":"#","qos":"0","datatype":"auto","broker":"5d5dc8e5.3afd88","x":190,"y":100,"wires":[["21f15bda.860884"]]},{"id":"21f15bda.860884","type":"debug","z":"a2b6f053.f1336","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":140,"wires":[]},{"id":"b978b9c2.6e8468","type":"inject","z":"a2b6f053.f1336","name":"inject \"open\" command","topic":"/hello","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["c26d768e.7628"]]},{"id":"c26d768e.7628","type":"mqtt out","z":"a2b6f053.f1336","name":"","topic":"","qos":"","retain":"","broker":"5d5dc8e5.3afd88","x":540,"y":260,"wires":[]},{"id":"27efeab3.271eae","type":"inject","z":"a2b6f053.f1336","name":"inject \"closed\" command","topic":"/hello","payload":"closed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":320,"wires":[["c26d768e.7628"]]},{"id":"e88885f4.05aa5","type":"mosca in","z":"a2b6f053.f1336","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"testtest","password":"testtest","dburl":"","x":430,"y":80,"wires":[[]]},{"id":"5d5dc8e5.3afd88","type":"mqtt-broker","z":"","name":"newBroker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]