db/db-utenti-UI.json
[{"id":"7f3ee55a.12da3c","type":"http in","z":"fd04a8e8.b4e6d8","name":"","url":"/userz","method":"get","upload":false,"swaggerDoc":"","x":220,"y":2060,"wires":[["8223a105.e8ee4"]]},{"id":"a4eff36e.166d4","type":"template","z":"fd04a8e8.b4e6d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html>\n    <head>\n<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n    </head>\n<body>\n\n<h1>tables</h1>\n<div class = \"container\">\n<table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th scope=\"col\">id</th>\n      <th scope=\"col\">nome</th>\n      <th scope=\"col\">tag</th>\n      <th scope=\"col\">door 1</th>\n      <th scope=\"col\">door 2</th>\n      <th scope=\"col\">door 3</th>\n\n    </tr>\n  </thead>\n  <tbody>\n    <tr class=\"table-active\">\n      <th scope=\"row\">Active</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n\n  </tbody>\n</table>\n\n<form method=\"POST\" action=\"/users\">\n\n    <legend>Add user</legend>\n    <div class=\"form-group\">\n      <label for=\"name\">ID</label>\n      <input class=\"form-control\" id=\"ID\" name=\"ID\">\n    </div>\n    <div class=\"form-group\">\n      <label for=\"name\">name</label>\n      <input class=\"form-control\" id=\"name\" name=\"name\">\n    </div>\n      <div class=\"form-group\">\n      <label for=\"name\">tag</label>\n      <input class=\"form-control\" id=\"tag\" name=\"tag\">\n    </div>\n    <div class=\"form-group\">\n      <label for=\"door1\">Door 1</label>\n      <select class=\"form-control\" id=\"door1\" name=\"door1\">\n        <option>Y</option>\n        <option>N</option>\n      </select>\n    </div>\n        <div class=\"form-group\">\n      <label for=\"door2\">Door 2</label>\n      <select class=\"form-control\" id=\"door2\" name=\"door2\">\n        <option>Y</option>\n        <option>N</option>\n      </select>\n    </div>    <div class=\"form-group\">\n      <label for=\"door3\">Door 3</label>\n      <select class=\"form-control\" id=\"door3\" name=\"door3\">\n        <option>Y</option>\n        <option>N</option>\n      </select>\n    </div>\n    <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n\n</form>\n\n</div>\n</body>\n</html>","output":"str","x":560,"y":2060,"wires":[["a479daff.acc838"]]},{"id":"a479daff.acc838","type":"http response","z":"fd04a8e8.b4e6d8","name":"","statusCode":"","headers":{},"x":710,"y":2060,"wires":[]},{"id":"8223a105.e8ee4","type":"sqlite","z":"fd04a8e8.b4e6d8","mydb":"4e4abe36.17055","sqlquery":"fixed","sql":"SELECT * FROM table1","name":"Utenti","x":390,"y":2080,"wires":[["a4eff36e.166d4","42ad48ca.ab9328"]]},{"id":"42ad48ca.ab9328","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":2120,"wires":[]},{"id":"890d6e93.7ec0a","type":"inject","z":"fd04a8e8.b4e6d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2120,"wires":[["8223a105.e8ee4"]]},{"id":"5e5b5758.63a578","type":"http in","z":"fd04a8e8.b4e6d8","name":"","url":"/userz","method":"post","upload":false,"swaggerDoc":"","x":210,"y":2180,"wires":[["8223a105.e8ee4","235b2fa0.f5245","2009b97c.6ddd86"]]},{"id":"235b2fa0.f5245","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":2240,"wires":[]},{"id":"2009b97c.6ddd86","type":"template","z":"fd04a8e8.b4e6d8","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO table1 VALUES('{{payload.name}}','{{payload.tag}}','{{payload.door1}}','{{payload.door2}}','{{payload.door3}}' )","output":"str","x":480,"y":2200,"wires":[["8fe975ce.404158"]]},{"id":"8fe975ce.404158","type":"sqlite","z":"fd04a8e8.b4e6d8","mydb":"4e4abe36.17055","sqlquery":"msg.topic","sql":"SELECT * FROM table1","name":"INSERT USER","x":700,"y":2200,"wires":[["8223a105.e8ee4"]]},{"id":"4e4abe36.17055","type":"sqlitedb","db":"C:\\Users\\Davide Gomba\\Documents\\A-ITS\\online course\\db\\user-db.db","mode":"RWC"}]