db/pre-lavorato-db-mqtt.json
[{"id":"fd04a8e8.b4e6d8","type":"tab","label":"Aedes Mqtt 17 Dicembre","disabled":false,"info":""},{"id":"b0ea04d4.e7e008","type":"mqtt in","z":"fd04a8e8.b4e6d8","name":"","topic":"/ITS","qos":"2","datatype":"auto","broker":"abf1da65.1b0658","x":330,"y":160,"wires":[["9ca6ade7.6be3a"]]},{"id":"9ca6ade7.6be3a","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":160,"wires":[]},{"id":"89293660.f058e8","type":"mqtt out","z":"fd04a8e8.b4e6d8","name":"","topic":"/ITS","qos":"","retain":"","broker":"abf1da65.1b0658","x":490,"y":100,"wires":[]},{"id":"38ec37e4.694968","type":"inject","z":"fd04a8e8.b4e6d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"message\":\"Ciao Ragazz*\"}","payloadType":"json","x":190,"y":40,"wires":[["89293660.f058e8"]]},{"id":"5e1e33f5.97aa7c","type":"inject","z":"fd04a8e8.b4e6d8","name":"complete json string (open)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"{\"name\":\"Pino Daniele\",\"status\":\"open\",\"pin\":2,\"color\":\"red\"}","payloadType":"json","x":230,"y":400,"wires":[["c609339b.817b"]]},{"id":"6e7a6617.465ca8","type":"inject","z":"fd04a8e8.b4e6d8","name":"complete json string (closed)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"{\"name\":\"LED\",\"status\":\"closed\",\"pin\":0,\"color\":\"red\"}","payloadType":"json","x":220,"y":440,"wires":[["c609339b.817b"]]},{"id":"23ac7c28.6cb754","type":"inject","z":"fd04a8e8.b4e6d8","name":"json for status open","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"{    \"status\": \"open\"}","payloadType":"json","x":250,"y":480,"wires":[["c609339b.817b"]]},{"id":"8ceb1d82.ed578","type":"inject","z":"fd04a8e8.b4e6d8","name":"json for pin 0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"{    \"pin\": 0}","payloadType":"json","x":270,"y":520,"wires":[["c609339b.817b"]]},{"id":"c609339b.817b","type":"mqtt out","z":"fd04a8e8.b4e6d8","name":"","topic":"/ITS","qos":"","retain":"","broker":"abf1da65.1b0658","x":530,"y":480,"wires":[]},{"id":"259e926e.03668e","type":"comment","z":"fd04a8e8.b4e6d8","name":"Usiamo HiveMQ online!","info":"","x":420,"y":40,"wires":[]},{"id":"eac1ceb4.9a228","type":"inject","z":"fd04a8e8.b4e6d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Gomba\",\"message\":\"riprendiamo ragazzi?\"}","payloadType":"json","x":190,"y":100,"wires":[["89293660.f058e8"]]},{"id":"df625ea4.e2dcb","type":"mqtt in","z":"fd04a8e8.b4e6d8","name":"","topic":"/ITS-1","qos":"2","datatype":"json","broker":"abf1da65.1b0658","x":330,"y":220,"wires":[["cb09640d.042f88","22f68946.55f056"]]},{"id":"cb09640d.042f88","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":220,"wires":[]},{"id":"e1d86f1a.393f5","type":"comment","z":"fd04a8e8.b4e6d8","name":"Interroghiamo le nostre API","info":"","x":430,"y":340,"wires":[]},{"id":"7d5347d5.3b49c8","type":"comment","z":"fd04a8e8.b4e6d8","name":"capiamo se l'utente può accedere","info":"","x":450,"y":640,"wires":[]},{"id":"62478e9c.fbd76","type":"sqlite","z":"fd04a8e8.b4e6d8","mydb":"4e4abe36.17055","sqlquery":"msg.topic","sql":"","name":"user database","x":580,"y":720,"wires":[["870b3e5a.e70e6"]]},{"id":"c880155d.9512b8","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":780,"wires":[]},{"id":"b788459b.65e6a8","type":"inject","z":"fd04a8e8.b4e6d8","name":"insert utente Pino Daniele","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO table2 VALUES(\"Pino Daniele\",\"421418319424897128\",\"Y\", \"N\", \"N\")","payload":"","payloadType":"date","x":250,"y":760,"wires":[["62478e9c.fbd76"]]},{"id":"9d6b907e.58ef1","type":"function","z":"fd04a8e8.b4e6d8","name":"QUERY TAG","func":"msg.topic  = \"SELECT DISTINCT name FROM table1 WHERE tag = \"+ msg.payload\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":920,"wires":[["62478e9c.fbd76"]]},{"id":"312e9a48.dd6fa6","type":"inject","z":"fd04a8e8.b4e6d8","name":"Query for NFC TAG","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT DISTINCT name FROM table1 WHERE tag =  \"555556319424807026\"","payload":"","payloadType":"date","x":270,"y":880,"wires":[["62478e9c.fbd76"]]},{"id":"27b3e990.056cf6","type":"inject","z":"fd04a8e8.b4e6d8","name":"insert utente Franco Battiato","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO table2 VALUES( \"Franco Battiato\",\"521416319424807026\",\"N\", \"Y\", \"N\")","payload":"","payloadType":"date","x":240,"y":800,"wires":[["62478e9c.fbd76"]]},{"id":"6e5a1c50.316254","type":"inject","z":"fd04a8e8.b4e6d8","name":"insert utente Francesco De Gregori","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO table2 VALUES(\"Francesco De Gregori\",\"555556319424807026\",\"N\", \"Y\", \"N\")","payload":"","payloadType":"date","x":220,"y":840,"wires":[["62478e9c.fbd76"]]},{"id":"22f68946.55f056","type":"change","z":"fd04a8e8.b4e6d8","name":"Estraiamo il numero della tessera","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tessera","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["e511756a.2c0748","5c541c9b.39ddb4"]]},{"id":"e511756a.2c0748","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":240,"wires":[]},{"id":"870b3e5a.e70e6","type":"change","z":"fd04a8e8.b4e6d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":780,"wires":[["c880155d.9512b8","fa9dc10c.bd5f5"]]},{"id":"fa9dc10c.bd5f5","type":"template","z":"fd04a8e8.b4e6d8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"name\": \"{{payload}}\",\n    \"status\": \"open\",\n    \"pin\": 2,\n    \"color\": \"red\"\n}  ","output":"str","x":840,"y":720,"wires":[["dabc05ef.797d78","6dbb6ce4.03d3b4"]]},{"id":"6dbb6ce4.03d3b4","type":"mqtt out","z":"fd04a8e8.b4e6d8","name":"","topic":"/ITS","qos":"","retain":"","broker":"abf1da65.1b0658","x":1050,"y":720,"wires":[]},{"id":"dabc05ef.797d78","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":780,"wires":[]},{"id":"5c541c9b.39ddb4","type":"link out","z":"fd04a8e8.b4e6d8","name":"","links":[],"x":795,"y":320,"wires":[]},{"id":"dd7666fe.ae0018","type":"link in","z":"fd04a8e8.b4e6d8","name":"","links":[],"x":175,"y":920,"wires":[["9d6b907e.58ef1"]]},{"id":"54f79478.2c2ecc","type":"http in","z":"fd04a8e8.b4e6d8","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":300,"y":1140,"wires":[["39ed6eb1.285552"]]},{"id":"39ed6eb1.285552","type":"template","z":"fd04a8e8.b4e6d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html>\n    <head>\n<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n    </head>\n<body>\n\n<h1>My First Heading</h1>\n<table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th scope=\"col\">Type</th>\n      <th scope=\"col\">Column heading</th>\n      <th scope=\"col\">Column heading</th>\n      <th scope=\"col\">Column heading</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr class=\"table-active\">\n      <th scope=\"row\">Active</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr>\n      <th scope=\"row\">Default</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr class=\"table-primary\">\n      <th scope=\"row\">Primary</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr class=\"table-secondary\">\n      <th scope=\"row\">Secondary</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr class=\"table-success\">\n      <th scope=\"row\">Success</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr class=\"table-danger\">\n      <th scope=\"row\">Danger</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr class=\"table-warning\">\n      <th scope=\"row\">Warning</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr class=\"table-info\">\n      <th scope=\"row\">Info</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr class=\"table-light\">\n      <th scope=\"row\">Light</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr class=\"table-dark\">\n      <th scope=\"row\">Dark</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n  </tbody>\n</table>\n</body>\n</html>","output":"str","x":460,"y":1140,"wires":[["3d7d3959.a0b1d6"]]},{"id":"3d7d3959.a0b1d6","type":"http response","z":"fd04a8e8.b4e6d8","name":"","statusCode":"","headers":{},"x":610,"y":1140,"wires":[]},{"id":"fe511193.32e88","type":"comment","z":"fd04a8e8.b4e6d8","name":"Basic CSS page","info":"","x":240,"y":1080,"wires":[]},{"id":"85a9f0eb.41e2e","type":"comment","z":"fd04a8e8.b4e6d8","name":"Basic CSS page","info":"","x":240,"y":1080,"wires":[]},{"id":"7f3ee55a.12da3c","type":"http in","z":"fd04a8e8.b4e6d8","name":"","url":"/userz","method":"get","upload":false,"swaggerDoc":"","x":240,"y":1360,"wires":[["8223a105.e8ee4"]]},{"id":"a4eff36e.166d4","type":"template","z":"fd04a8e8.b4e6d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html>\n    <head>\n<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n    </head>\n<body>\n\n\n<div class = \"container\">\n<table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th scope=\"col\">id</th>\n      <th scope=\"col\">nome</th>\n      <th scope=\"col\">tag</th>\n      <th scope=\"col\">door 1</th>\n      <th scope=\"col\">door 2</th>\n      <th scope=\"col\">door 3</th>\n\n    </tr>\n  </thead>\n  <tbody>\n      {{#payload}}\n    <tr class=\"table-active\">\n      <td>{{id}}</td>\n      <td>{{name}}</td>\n      <td>{{tag}}</td>\n      <td>{{ACCESSO1}}</td>\n      <td>{{ACCESSO2}}</td>\n      <td>{{ACCESSO3}}</td>\n    </tr>\n    {{/payload}}\n  </tbody>\n</table>\n\n<form method=\"POST\" action=\"/userz\">\n\n    <legend>Add user</legend>\n    <div class=\"form-group\">\n      <label for=\"name\">ID</label>\n      <input class=\"form-control\" id=\"ID\" name=\"ID\">\n    </div>\n    <div class=\"form-group\">\n      <label for=\"name\">name</label>\n      <input class=\"form-control\" id=\"name\" name=\"name\">\n    </div>\n      <div class=\"form-group\">\n      <label for=\"name\">tag</label>\n      <input class=\"form-control\" id=\"tag\" name=\"tag\">\n    </div>\n    <div class=\"form-group\">\n      <label for=\"door1\">Door 1</label>\n      <select class=\"form-control\" id=\"door1\" name=\"door1\">\n        <option>Y</option>\n        <option>N</option>\n      </select>\n    </div>\n        <div class=\"form-group\">\n      <label for=\"door2\">Door 2</label>\n      <select class=\"form-control\" id=\"door2\" name=\"door2\">\n        <option>Y</option>\n        <option>N</option>\n      </select>\n    </div>    <div class=\"form-group\">\n      <label for=\"door3\">Door 3</label>\n      <select class=\"form-control\" id=\"door3\" name=\"door3\">\n        <option>Y</option>\n        <option>N</option>\n      </select>\n    </div>\n    <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n\n</form>\n\n</div>\n</body>\n</html>","output":"str","x":580,"y":1360,"wires":[["a479daff.acc838"]]},{"id":"a479daff.acc838","type":"http response","z":"fd04a8e8.b4e6d8","name":"","statusCode":"","headers":{},"x":730,"y":1360,"wires":[]},{"id":"8223a105.e8ee4","type":"sqlite","z":"fd04a8e8.b4e6d8","mydb":"4e4abe36.17055","sqlquery":"fixed","sql":"SELECT * FROM table2","name":"Utenti","x":410,"y":1380,"wires":[["a4eff36e.166d4","42ad48ca.ab9328"]]},{"id":"42ad48ca.ab9328","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1420,"wires":[]},{"id":"890d6e93.7ec0a","type":"inject","z":"fd04a8e8.b4e6d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1420,"wires":[["8223a105.e8ee4"]]},{"id":"7cb7436e.b14a3c","type":"comment","z":"fd04a8e8.b4e6d8","name":"Interacting with Database","info":"Esempio di interazione con un db. I sati possono essere visualizzati e aggiunti all'occrennza attraverso il submit. \n\nE' stato usato [Slate](https://bootswatch.com/slate/)","x":190,"y":1300,"wires":[]},{"id":"5e5b5758.63a578","type":"http in","z":"fd04a8e8.b4e6d8","name":"","url":"/userz","method":"post","upload":false,"swaggerDoc":"","x":230,"y":1480,"wires":[["8223a105.e8ee4","235b2fa0.f5245","2009b97c.6ddd86"]]},{"id":"235b2fa0.f5245","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1560,"wires":[]},{"id":"2009b97c.6ddd86","type":"template","z":"fd04a8e8.b4e6d8","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO table2 VALUES(\"{{payload.name}}\",\"{{payload.tag}}\",\"{{payload.door1}}\",\"{{payload.door2}}\",\"{{payload.door3}}\" )","output":"str","x":500,"y":1500,"wires":[["8fe975ce.404158","af532173.8c2c9"]]},{"id":"8fe975ce.404158","type":"sqlite","z":"fd04a8e8.b4e6d8","mydb":"4e4abe36.17055","sqlquery":"msg.topic","sql":"SELECT * FROM table1","name":"INSERT USER","x":720,"y":1500,"wires":[["8223a105.e8ee4"]]},{"id":"af532173.8c2c9","type":"debug","z":"fd04a8e8.b4e6d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":1560,"wires":[]},{"id":"eee47f00.8b7e","type":"inject","z":"fd04a8e8.b4e6d8","name":"insert utente Pino Daniele","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"INSERT INTO table1 VALUES(1, \"Pino Daniele\",\"421418319424897128\",\"Y\", \"N\", \"N\")","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO table1 VALUES(1, \"Pino Daniele\",\"421418319424897128\",\"Y\", \"N\", \"N\")","payload":"","payloadType":"date","x":550,"y":940,"wires":[["62478e9c.fbd76"]]},{"id":"d8b4bbd3.73f958","type":"inject","z":"fd04a8e8.b4e6d8","name":"CREATE TABLE2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.1","topic":"CREATE TABLE table2(name TEXT, tag TEXT, ACCESSO1 TEXT, ACCESSO2 TEXT, ACCESSO3 TEXT)","payload":"","payloadType":"date","x":280,"y":720,"wires":[["62478e9c.fbd76"]]},{"id":"abf1da65.1b0658","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e4abe36.17055","type":"sqlitedb","db":"C:\\Users\\Davide Gomba\\Documents\\A-ITS\\online course\\db\\user-db.db","mode":"RWC"}]