Distance_to_dashboard/flows.json
[{"id":"76fd87d1.b0c598","type":"tab","label":"MTTQ - Arduino 1","disabled":false,"info":""},{"id":"c83716a4.1b46b8","type":"mqtt in","z":"76fd87d1.b0c598","name":"","topic":"/hello","qos":"0","datatype":"auto","broker":"ef3b6344.c6854","x":270,"y":160,"wires":[["578d0ee1.ab445","8065b1f0.34e75"]]},{"id":"578d0ee1.ab445","type":"debug","z":"76fd87d1.b0c598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":200,"wires":[]},{"id":"dfdb0280.e2cf1","type":"inject","z":"76fd87d1.b0c598","name":"inject \"open\" command","topic":"/hello","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":300,"wires":[["e0c30ad1.49c248"]]},{"id":"e0c30ad1.49c248","type":"mqtt out","z":"76fd87d1.b0c598","name":"","topic":"/hello","qos":"","retain":"","broker":"ef3b6344.c6854","x":620,"y":320,"wires":[]},{"id":"9e9186e.d835f78","type":"mosca in","z":"76fd87d1.b0c598","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"123","password":"456","dburl":"","x":130,"y":60,"wires":[[]]},{"id":"980902e2.aec09","type":"inject","z":"76fd87d1.b0c598","name":"inject \"closed\" command","topic":"/hello","payload":"closed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":380,"wires":[["e0c30ad1.49c248"]]},{"id":"8065b1f0.34e75","type":"ui_chart","z":"76fd87d1.b0c598","name":"","group":"3019e169.af962e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":140,"wires":[[]]},{"id":"ef3b6344.c6854","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3019e169.af962e","type":"ui_group","z":"","name":"MQTT chart","tab":"2dd9ad52.6b5c02","order":1,"disp":true,"width":"6","collapse":false},{"id":"2dd9ad52.6b5c02","type":"ui_tab","z":"","name":"ArduinoMqtt","icon":"dashboard","order":13,"disabled":false,"hidden":false}]